/*PC mode*/
html, body{
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

  #checkbox{
     position: absolute;
    top: 55px;
    right: 51.5%;
    font-size:12px;
    padding: 8px;
    background: white;
    border-radius: 10px;
    opacity: 0.8;
      }

  #latlong{
      position: absolute;
      bottom:8%;
      left: 2%;
      border-radius: 10px;
      padding: 8px;
      opacity: 0.8;
      background: white;
      }

  #pano, #viewDiv  {
      float: left;
      height: 100%;
      width: 50%;
    }

/*Mobile Mode*/


